#subject_body{
    margin-top: 30px;
    padding-top: 20px;
}

#main-button{
    height: 80%;
    background-color: rgba(0, 0, 255, 0.553);
    border-radius: 15px;
}

#subject_card_ass .card{
    margin-left: 150px;
}

#quizview{
    border:3px solid rgb(34, 11, 133);
    margin:20px;
    border-radius: 15px;
    background-color:  rgba(180, 180, 228, 0.553);
    padding: 20px;
}

.result-item {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
}