{% load static %}

<section id="footer">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3 class="mx-3">LMS</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 class="mx-3">About</h3>
                        <ul>
                            <li><a href="#">ABL Education</a></li>
                            <li><a href="#">ABL kart</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer-top-menu">
                            <h3 class="widget-title mx-3">Schools</h3>
                            <div class="fo-course-container">
                                <ul>
                                    <li><a href="http://www.ableducation.com/" target="_blank">STEM Lab</a></li>
                                    <li><a href="http://www.ableducation.com/"target="_blank">Atal Tinkering Lab</a></li>
                                    <li><a href="http://www.ableducation.com/"target="_blank">RoboShala</a></li>
                                    <li><a href="http://www.ableducation.com/"target="_blank">STEAM Olympiad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer-top-menu">
                            <h3 class="widget-title mx-3">Contact Us</h3>
                            <div class="fo-course-container">
                                <ul>
                                    <li>
                                        <button class="open-button" onclick="openForm()">Enquire</button>
                                        <div class="form-popup" id="myForm">
                                        <form action="{% url 'users:enquiry' %}"         class="form-container" method="post">
                                            {% csrf_token %}
                                            {% comment %} <label for="name"><b>Name</b></label> {% endcomment %}
                                            <input type="text" placeholder="Name" name="name" id="form_content" required>
            
                                            {% comment %} <label for="contact"><b>Contact</b></label> {% endcomment %}
                                            <input type="text" placeholder="Contact" name="contact" required>
            
                                            {% comment %} <label for="email"><b>Email</b></label> {% endcomment %}
                                            <input type="email" placeholder="Email" name="email" required>
            
                                            {% comment %} <label for="query"><b>Query</b></label> {% endcomment %}
                                            <input type="text" placeholder="Query" name="query" required>
                                            <button type="submit" class="btn" id="enquiry-button">Submit</button>
                                            <button type="button" class="btn cancel" onclick="closeForm()" id="enquiry-button">Close</button>
                                        </form>
                                        </div>
                                    </li>
                                    <li><a href="#">Email  : lms@ableducation.com</a></li>
                                    <li><a href="#">Call Us:</a></li>
                                    <li><a href="#">Chat with us:</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>