{% extends 'school/base_template.html' %}

{% block page_title %}
    View Student Data
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View Student</h3>
                    </div>
                    <!-- /.card-header -->

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                        <form method="POST" action="{% url 'users:attendance_data' %}">
                        {% csrf_token %}

                        <div class="card-body">
                            <div class="form-group">
                                <label>Class </label>
                                <select class="form-control" name="grade" id="grade">
                                        <option value="grade1" name="grade1">Grade 1</option>
                                        <option value="grade2" name="grade2">Grade 2</option>
                                        <option value="grade3" name="grade3">Grade 3</option>
                                        <option value="grade4" name="grade4">Grade 4</option>
                                        <option value="grade5" name="grae5">Grade 5</option>
                                        <option value="grade6" name="grade6">Grade 6</option>
                                        <option value="grade7" name="grade7">Grade 7</option>
                                        <option value="grade8" name="grade8">Grade 8</option>
                                        <option value="grade9" name="grade9">Grade 9</option>
                                        <option value="grade10" name="grade10">Grade 10</option>
                                        <option value="grade11" name="grade11">Grade 11</option>
                                        <option value="grade12" name="grde12">Grade 12</option>
                                </select>
                            </div>

                            {% comment %} <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Start Date </label>
                                        <input type="date" class="form-control" name="start_date" />
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>End Date </label>
                                        <input type="date" class="form-control" name="end_date" />
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="fetch_student">Get data</button>
                        </div>
                        {% comment %} Displaying Students Here {% endcomment %}
                        <div class="card-footer" id="student_data">
                        </div> 
                    </div>
                    </form>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}